# Python Einführung
## Unterüberschrift

*kursiv* **fett**
-  Punkt 1
-  Punkt 2

1.1. Erste Anweisung

In [1]:
print("Hello world!")

Hello world!

1.2. Kommentare

In [5]:
# Das ist ein Kommentar und wird nicht ausgeführt
'''
Wenn man mehr Text für den Kommentar innerhalb einer Python-Zelle hat,
dann kann man statt einer Raute auch drei einfache Anführungszeichen schreiben.
'''
print("something")

something

1.3. Einfache Datentypen

In [6]:
# Variable und Wertezuweisung in Python
# links Variablenname, rechts steht Wert, der der Variable zugewiesen wird
name = "Lovelace"
print(name)

Lovelace

In [10]:
# String - Zeichenkette, steht zwischen Anführungszeichen
first_name = "Ada"
first_name

'Ada'

In [12]:
# Integer - Ganzzahl, ohne Anführungszeichen
age = 73
print(age)

73

In [13]:
# Float - Gleitkommazahl
size = 1.7123

In [14]:
# Boolsche Werte
knows_math = True
print(knows_math)

True

In [15]:
# Boolsche Werte
likes_slacking = False
print(likes_slacking)

False

In [16]:
# Faulheit ist eine Tugend  - Tabben geht auch im Jupyter Notebook!

In [17]:
# herausfinden, welchen Wert eine Variable hat
type(name)

str

In [18]:
type(age)

int

In [19]:
type(size)

float

Man kann in Python Funktionen schreiben; es gibt aber auch Built-In-Functions, zB print; 
manche Funktionen brauchen Argumente, manche nicht;
jede Funktion hat einen Rückgabewert; zB type - gibt Typ der Variable zurück

In [30]:
'''
Schreibweise von Variablen: Unterstrich empfohlen, Großschreibung hat spezielle Bedeutung
ageString nicht, auch nicht agestring ... es geht um Reduzierung des cognitive load
Bindestrich ist nicht good style
'''
age_string = str(age)

In [24]:
type(age_string)

str

1.4 Operatoren - machen aus unterschiedlichen Typen unterschiedliche Dinge

In [26]:
# Addition von Integers
5 + 5

10

In [27]:
# Multiplikation
age * 100

7300

In [28]:
# String multiplizieren
age_string * 5

'7373737373'

In [29]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [32]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [33]:
name + "10"

'Lovelace10'

In [35]:
# Division
size / age

0.023456164383561642

In [36]:
# Leerzeichen für bessere Lesbarkeit, auch der Konsistenz wegen

1.5. Funktionen und Methoden

In [79]:
# Kennengelernt: type, print
# Funktionsaufrufe immer mit runden Klammern
print(name)

Lovelace

In [50]:
type(name)

str

In [39]:
# Length
len(name)

8

In [41]:
# Variable.Funktion
name.upper()

'LOVELACE'

In [45]:
name_upper_case = name.upper()

In [46]:
print(name_upper_case)

LOVELACE

In [48]:
#Variable, dann Tab drücken: Liste der Funktionen
name.count("e")

2

In [49]:
# Replace - 2 Argumente, ersetzt 
name.replace("lace", " is everywhere")

'Love is everywhere'

In [51]:
another_name = "peter"

In [52]:
another_name = another_name.upper()

In [53]:
print(another_name)

PETER

1.6. Listen und Dictionaries

In diesem Kontext werden eckige (Listen) und geschweifte (Dictionaries) Klammern genutzt.

In [54]:
# Liste
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [55]:
# Elemente haben eine Position zugewiesen bekommen

In [80]:
# Werte auslesen mit eckigen Klammern
names[2]

'Curie'

In [58]:
# Nummerierung beginnt mit 0
names[0]

'Lovelace'

In [59]:
# Letztes Element einer Liste 
names[-1]

'Hawking'

In [61]:
# Abschnitt angeben
print(names)
names[0:3]

['Lovelace', 'Darwin', 'Curie', 'Hawking']

['Lovelace', 'Darwin', 'Curie']

In [63]:
# Slicing - von Anfang an bis 2
names[:2]

['Lovelace', 'Darwin']

In [67]:
# von 2 bis zum Ende
names[2:]

['Curie', 'Hawking']

In [74]:
# Dictionaries - Schlüssel und Werte; Schlüssel müssen unique sein, Werte können mehrfach vorkommen (1:n)
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Noether": 1882,
                           "Hawking": 1942}

In [75]:
# Man kann den Wert zu einem Schlüssel aufrufen:
authors_and_birth_years["Darwin"]

1809

In [76]:
# Kontrolle des Typs
type(authors_and_birth_years)

dict

In [77]:
type(names)

list

In [78]:
type(name)

str

2. For-Schleifen

In [83]:
# Einrückungen sind in Python Teil der Sprache! Haben Auswirkungen auf das Ergebnis

In [82]:
for last_name in names:
    print(last_name + " did awesome stuff.")
# Temporäre Variable, letzter Wert der Liste bleibt stehen
print(last_name)

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.
Hawking

In [84]:
for last_name in names:
    print(last_name + " did awesome stuff.")
# Temporäre Variable, letzter Wert der Liste bleibt stehen
print("---------------")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Hawking did awesome stuff.
---------------

In [85]:
for last_name in names:
    print(last_name + " did awesome stuff.")
# Temporäre Variable, letzter Wert der Liste bleibt stehen
    print("---------------")

Lovelace did awesome stuff.
---------------
Darwin did awesome stuff.
---------------
Curie did awesome stuff.
---------------
Hawking did awesome stuff.
---------------

In [86]:
# Methode, um Keys aufzurufen
authors_and_birth_years.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether', 'Hawking'])

In [90]:
for dict_names in authors_and_birth_years.keys():
    print(dict_names)

Lovelace
Darwin
Noether
Hawking

In [92]:
for dict_names in authors_and_birth_years.values():
    print(dict_names)

1882
1809
1882
1942

In [88]:
type(authors_and_birth_years)

dict

In [90]:
# Bei Keys muss im Gegensatz zu Werten nichts angegeben werden:
for dict_names in authors_and_birth_years:
    print(dict_names)

Lovelace
Darwin
Noether
Hawking

In [93]:
# Iteration
for key, value in authors_and_birth_years.items():
    print(key,value)

Lovelace 1882
Darwin 1809
Noether 1882
Hawking 1942

2.1. Bedingte Anweisungen (Conditionals)

In [95]:
# Je nachdem, was Elemente für Werte haben, kann Python Aktionen durchführen
temp  = 20
if temp > 15:
    print("it´s warm outside")

it´s warm outside

In [96]:
temp  = 20
if temp < 15:
    print("it´s warm outside")

In [97]:
20 > 15

True

In [98]:
15 > 20

False

In [100]:
temp = 10
if temp > 15:
    print("it´s warm outside")
else:
    print("Temperature below 15")

Temperature below 15

In [108]:
# elif = else if
temp = 26
if temp > 25:
    print("it´s hot!! drink water")
elif temp > 15:
    print("it´s warm outside")
else:
    print("Temperature below 15")

it´s hot!! drink water

In [115]:
# Bereich - Variante 1
temp = 20
if (temp < 25 and temp > 15):
    print("it´s warm outside")

it´s warm outside

In [113]:
# Bereich - Variante 2
temp = 20
if 25 > temp > 15:
    print("it´s warm outside")

it´s warm outside